{
  "parser": "typescript",
  "endOfLine": "auto",
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@src/(.*)$",
    "^@lib/(.*)$",
    "^@atoms/(.*)$",
    "^@shared/(.*)$",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
