{
  "parser": "typescript",
  "endOfLine": "auto",
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@src/(.*)$",
    "^@src/lib/(.*)$",
    "^@src/atoms/(.*)$",
    "^@src/components/(.*)$",
    "^@src/utils/(.*)$",
    "^@components/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
